{% extends 'base.html'%}

{% block title %}details{% endblock %}

{% block content %}

<div class="movie-details">
    <h1>{{movie.title}}</h1>
    <h3>release date: {{movie.release_date}}</h3>
    <h3>voter average: {{movie.vote_average}}</h3>

    <p>{{movie.overview}}</p>

    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">

    {% if 'id' not in session %}
    <form action="/users/register" method="POST" id="add" class="watchlist-btn">
        <input type="submit" value="Add to Watchlist" class="watchlist-form"/>
    </form>
    {% endif %}

    {% if 'id' in session %}
    <form action="/api/movies/{{movie.tmdb_id}}" method="POST" id="add" class="watchlist-btn">
        <input type="submit" value="Add to Watchlist" class="watchlist-form"/>
    </form>
    {% endif %}
</div>

{% endblock %}