{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% block content %}




<div class="general-form">
<h1>New User</h1>
<form method="POST" class="row g-3">
    {{ form.hidden_tag() }} <!--hidden fo validation-->
    {% for field in form
        if field.widget.input_type != 'hidden' %}
    <div class="col-12">
        {{field.label(class="form-label")}}
        {{field(class="form-control")}}
    </div>
    {% endfor %}
    <button class="newUser-btn">Submit</button>
</form>

<div class="login-group">
<h3 class="login-text">
    Already a user?
</h3>
<form class="row g-3">
    <button
        class="login-btn"
        formaction="/users/login"
        formmethod="GET">
    Login
    </button>
</form>
  
  </div>
</div>

{% endblock%}